img {
    height: 200px;
    width: 33.3%;
}
#imgM{
    width: 100%
}
#create > * {
    display: none;
}
.input-group >.form-control{
    width: 100%;
}
#page {
    width:15%;
}
#editor > * {
    display: none;
}
.fa {
    font-size: 50px;
}
@media (max-width: 790px) {
    .col-9,
    .col {
        width: 100%;

    }
}
@media (min-width: 791px) and (max-width: 991px) {
    .col-9,
    .col {
        width: 50%;
    }
    .col-9 
    .col{
        width: 100%;
    }
}
