img {
    height: 200px;
    width: 33.3%;
}
#imgM{
    width: 100%
}
#create > * {
    display: none;
}
.input-group >.form-control{
    width: 100%;
}
#page {
    width:15%;
}
#editor > * {
    display: none;
}